{%extends "layout.html"%}

{% block title %} {{ article.article_title }} {% endblock %}

{%block content%}

<head>
    <script src="https://www.google.com/recaptcha/api.js"></script>
      <script>
        function onSubmit(token) {
            document.getElementById("id_token").value = token;
            document.getElementById("form").submit();
        }
      </script>
      
 </head>

 <body>
  Main<br>
  <a href="/">index</a>
  <a href="/main/">main</a>
  <a href="/main/list/">list</a>
  <a href="/main/recaptcha_v2">recaptcha</a>
  
    
    <form action="register" method="post" id="form">
       {% csrf_token %}
       <input name="username" type="text" placeholder="username">
       <input name="password" type="text" placeholder="password">
       <input name="status" type="text" placeholder="status">
       
       <button class="g-recaptcha" 
        data-sitekey="6LdoXckhAAAAAIGpoFflYCx7x36jGdtWxn_tSsSd" 
        data-callback='onSubmit' 
        data-action='submit'>Submit</button>
       <input type="hidden" name="id_token" id="id_token">
       <input type="hidden" name="g-recaptcha-response" id='recaptcha'>
    </form>

 </body>
 {%endblock%}